<!DOCTYPE html>
<html lang="en">
<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>Mihci Store</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- Responsive-->
  <link rel="stylesheet" href="css/responsive.css">
  <!-- fevicon -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <!-- owl stylesheets -->
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

</head>
<body>
  <!-- header section start -->
  <div class="header_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-3">
          <div class="logo"><a href="index.html"><img src=""></a></div>
        </div>
        <div class="col-sm-6">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="index.html">Domov</a>
                <a class="nav-item nav-link" href="browse ads.html">Isci oglase</a>
                <a class="nav-item nav-link" href="about.html">O nas</a>
                <a class="nav-item nav-link" href="clients.html">Kupci</a>
                <a class="nav-item nav-link" href="contact.html">Kontakt</a>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="search_main">
            <button class="submit_bt"><a href="#"><span class="doctor"><img src="images/doctor-icon.png"></span>Objavi oglas</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header section end -->
  <!-- banner section start -->
  <div class="layout_padding banner_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="banner_taital">Vse kar potrebujete najdete pri nas</h1>
          <p class="browse_text">Najdi vec kot x oglasov</p>
          <div class="banner_bt">
            <button class="read_bt">Preberi vec</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- banner section end -->
  <!-- search box start -->
  <div class="container">
    <div class="search_box">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <input type="text" class="email_boton" placeholder="Iscem za" name="Email">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <input type="text" class="email_boton" placeholder="Kje" name="Email">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <input type="text" class="email_boton" placeholder="kategorija" name="Email">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <button class="search_bt">Isci</button>
          </div>
        </div>
        <div class="fashion_menu">
          <ul>
            <li class="active"><a href="#">Avto</a></li>
            <li><a href="#">Moda</a></li>
            <li><a href="#">Mame in otroci</a></li>
            <li><a href="#">Sluzbe</a></li>
            <li><a href="#">Nepremicnine</a></li>
            <li><a href="#">Zivali</a></li>
            <li><a href="#">Sport</a></li>
            <li><a href="#">Vec</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- search box end -->
  <!-- section PROMOTED start -->
  <div class=" layout_padding promoted_sectipon">
    <div class="container">
      <h1 class="promoted_text">PROMOVIRANI <span style="border-bottom: 5px solid #4bc714;">OGLASI</span></h1>
      <div class="images_main">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="images"><img src="images/img-1.png" style="width: 100%;"></div>
            <button class="promoted_bt">PROMOVIRANI</button>
            <div class="eye-icon"><img src="images/eye-icon.png"><span class="like-icon"><img src="images/like-icon.png"></span></div>
            <div class="numbar_text">30<span class="like-icon">01</span></div>
            <button class="mobile_bt"><a href="#">TELEFONI</a></button>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="images"><img src="images/img-2.png" style="width: 100%;"></div>
            <button class="promoted_bt">PROMOVIRANI</button>
            <div class="eye-icon"><img src="images/eye-icon.png"><span class="like-icon"><img src="images/like-icon.png"></span></div>
            <div class="numbar_text">30<span class="like-icon">01</span></div>
            <button class="mobile_bt"><a href="#">KOLESA</a></button>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="images"><img src="images/img-3.png" style="width: 100%;"></div>
            <button class="promoted_bt">PROMOVIRANI</button>
            <div class="eye-icon"><img src="images/eye-icon.png"><span class="like-icon"><img src="images/like-icon.png"></span></div>
            <div class="numbar_text">30<span class="like-icon">01</span></div>
            <button class="mobile_bt"><a href="#">AVTI</a></button>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="images"><img src="images/img-4.png" style="width: 100%;"></div>
            <button class="promoted_bt">PROMOVIRANI</button>
            <div class="eye-icon"><img src="images/eye-icon.png"><span class="like-icon"><img src="images/like-icon.png"></span></div>
            <div class="numbar_text">30<span class="like-icon">01</span></div>
            <button class="mobile_bt"><a href="#">RACUNALNIKI</a></button>
          </div>
        </div>
      </div>
      <div class="images_main">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div><img src="images/img-1.png" style="width: 100%;"></div>
            <button class="promoted_bt">PROMOVIRANI</button>
            <div class="eye-icon"><img src="images/eye-icon.png"><span class="like-icon"><img src="images/like-icon.png"></span></div>
            <div class="numbar_text">30<span class="like-icon">01</span></div>
            <button class="mobile_bt"><a href="#">TISKALNIKI</a></button>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div><img src="images/img-2.png" style="width: 100%;"></div>
            <button class="promoted_bt">PROMOVIRANI</button>
            <div class="eye-icon"><img src="images/eye-icon.png"><span class="like-icon"><img src="images/like-icon.png"></span></div>
            <div class="numbar_text">30<span class="like-icon">01</span></div>
            <button class="mobile_bt"><a href="#">KOVCKI</a></button>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div><img src="images/img-3.png" style="width: 100%;"></div>
            <button class="promoted_bt">PROMOVIRANI</button>
            <div class="eye-icon"><img src="images/eye-icon.png"><span class="like-icon"><img src="images/like-icon.png"></span></div>
            <div class="numbar_text">30<span class="like-icon">01</span></div>
            <button class="mobile_bt"><a href="#">HISE</a></button>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div><img src="images/img-4.png" style="width: 100%;"></div>
            <button class="promoted_bt">PROXOCIRANI</button>
            <div class="eye-icon"><img src="images/eye-icon.png"><span class="like-icon"><img src="images/like-icon.png"></span></div>
            <div class="numbar_text">30<span class="like-icon">01</span></div>
            <button class="mobile_bt"><a href="#">CEVLJI</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section PROMOTED end -->
  <!-- section POPULAR STORES start -->
  <div class="layout_padding popular_section">
    <div class="container">
      <h1 class="popular_taital">POPULARNE <span style="border-bottom: 5px solid #4bc714;">SEKCIJE</span></h1>
      <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="popular_section_2">
              <div class="slider_img"><img src="images/img-5.png" style="max-width: 100%;"></div>
              <h2 class="electronic_text">Elektronika</h2>
              <p class="contrary_text">
                Contrary to popular belief, Lorem
                Ipsum is not simply random text. It has roots in a piece of classical Latin literature from
              </p>
              <button class="view_bt"><a href="#">Najdi Oglase</a></button>
            </div>
          </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="prev">
          <i class="fa fa-angle-right"></i>
        </a>

      </div>
    </div>
  </div>
  
  <div class="layout_padding about_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="about_taital">O nasih oglasih</h1>
          <p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to</p>
        </div>
      </div>
    </div>
  </div>

  <div class="layout_padding footer_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div><img src=""></div>
          <p class="dolor_text">dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et sdolor sit amet,</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <h1 class="quick_text">Povezave</h1>
          <div class="chevron_arrow"><img src="images/chevron-arrow.png"><span class="padding-left">Pridruzi se ekipi</span></div>
          <div class="chevron_arrow"><img src="images/chevron-arrow.png"><span class="padding-left">Vzdrzevanje</span></div>
          <div class="chevron_arrow"><img src="images/chevron-arrow.png"><span class="padding-left">Jeziki</span></div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <h1 class="subscribe_text">Email novice</h1>
          <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          <input type="text" class="email_text" placeholder="Your Email" name="Name">
          <button class="submit_text">Submit</button>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <h1 class="quick_text">Kontaktiraj nas</h1>
          <div class="map_flag"><img src="images/map-flag.png"><span class="padding-left">tngytngyt</span></div>
          <div class="dolor_text"><img src="images/email-icon.png"><span class="padding-left">attny</span></div>
          <div class="dolor_text"><img src="images/phone-icon.png"><span class="padding-left">tyntn</span></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
